*{
    margin: 0;
    padding: 0;
    font-family: 'Hubballi', cursive;
}


body{
    background-color: #FFFBD6;
}

.container1{
    background-color: #EBBC74;
}

.firmaSan{
    margin-left: 32%;
    width: 350px;
}


footer svg{
    width: 200px;
    height: 30px;
    margin-left: 80px;
}

footer svg path{
    fill  :honeydew;
}

footer svg path:hover{
    fill  :black;
}

header a{
    width: 200px;
    height: 40px;
    margin-left: 30px;
}

header img{
    margin-top: 50px;
    margin-bottom: 20px;
}

.parrafo1{
    margin-top: 150px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 15px;

}

.parrafo2{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 15px;

}

.parrafo3{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 15px;
}

.enque{
    background-color: #EBBC74;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
}

.titulo1{
    margin-top: 100px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 50px;
}

.card{
    margin: 20px 50px 80px 480px;
}

.terapiasTitulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    margin-top: 50px;
}

.divTalleres{
    background-color:#EBBC74;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.Boton1{
    text-decoration: none;
    width: 10px; 
    flex-direction: column;
    background-color: #633659;
    width: 200px; 
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 white;
    text-align: center;
    font-size: 20px;
    font-weight: 10px;
}

.Boton2{
    text-decoration: none;
    width: 10px;
    flex-direction: column; 
    background-color: #A78FA3;
    width: 200px;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 10px;
}

.MasInformacion{
    margin-top: 100px;
    text-align: center;
}

a{
    text-decoration: none;
}

.formulario{
    margin: 100px 50px 100px 300px;
    text-align: center;
}

.formulario button{
    margin-left: -250px;
}

.pMateriales{

    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    background-color: #A78FA3;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
}

iframe{
    width: 500px;
    height: 400px;
    margin-left: 375px;
}

.titulosMateriales{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}
/* 
.turnero{

    text-decoration: none;
    width: 10px; 
    background-color: #633659;
    width: 200px; 
    margin-left: 540px;
    padding-bottom: 500px;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 white;
    text-align: center;
    font-size: 20px;
    font-weight: 10px;
    color: white;
} */

.tituloTurnero{
    margin-top: 100px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 50px;

}