* {
  margin: 0;
  padding: 0;
  font-family: "Hubballi", cursive;
}

body {
  background-color: #fffbd6;
}

.container1 {
  background-color: #ebbc74;
}

.contenedor {
  width: 85%;
  margin: 0 auto;
}

.firmaSan {
  margin-left: 32%;
  width: 350px;
}

footer svg {
  width: 200px;
  height: 30px;
  margin-left: 80px;
}

footer svg path {
  fill: honeydew;
}

footer svg path:hover {
  fill: black;
}

header a {
  width: 200px;
  height: 40px;
  margin-left: 30px;
}

header img {
  margin-top: 50px;
  margin-bottom: 20px;
}

.parrafo1 {
  line-height: 1.25;
  margin-top: 150px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 15px;
  text-align: justify;
}

.parrafo2 {
  line-height: 1.25;
  text-align: justify;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 15px;
}

.parrafo3 {
  line-height: 1.25;
  text-align: justify;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 15px;
}

.enque {
  background-color: #ebbc74;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: center;
}

.titulo1 {
  margin-top: 100px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 50px;
}

.card {
  margin: 20px 50px 80px 480px;
}

.terapiasTitulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  margin-top: 50px;
}

.divTalleres {
  background-color: #ebbc74;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.Boton1 {
  text-decoration: none;
  width: 10px;
  flex-direction: column;
  background-color: #633659;
  width: 200px;
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 0 0 15px 0 white;
  text-align: center;
  font-size: 20px;
  font-weight: 10px;
}

.Boton2 {
  text-decoration: none;
  width: 10px;
  flex-direction: column;
  background-color: #a78fa3;
  width: 200px;
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 0 0 15px 0 white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 10px;
}

.MasInformacion {
  margin-top: 100px;
  text-align: center;
}

a {
  text-decoration: none;
}

.formulario {
  margin: 100px 50px 50px 300px;
  text-align: center;
}

.formulario button {
  margin-left: -250px;
}

.pMateriales {
  font-size: 20px;
  font-weight: 10px;
  text-align: center;
  background-color: #a78fa3;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
}

/* iframe{
    width: 500px;
    height: 400px;
    margin-left: 375px;
} */

.titulosMateriales {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}
/* 
.turnero{

    text-decoration: none;
    width: 10px; 
    background-color: #633659;
    width: 200px; 
    margin-left: 540px;
    padding-bottom: 500px;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 white;
    text-align: center;
    font-size: 20px;
    font-weight: 10px;
    color: white;
} */

.tituloTurnero {
  margin-top: 100px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 50px;
}

#turnosDados p {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 10px 7px 20px -10px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 10px 7px 20px -10px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 10px 7px 20px -10px rgba(0, 0, 0, 0.85);
}

#turnosDados span {
  color: green;
}

.materiales_card {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.materiales_card p {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.6);
}

.materiales_card iframe {
  width: 100%;
  height: 450px;
}

.blog_grilla {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 30px;
}

.blog_card {
  width: 100%;    
  border-radius: 15px;
  overflow: hidden;
  transition: all 250ms ease-in-out;
  box-shadow: 7px 7px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 16px -2px rgba(0, 0, 0, 0.75);
}

.blog_card:hover {
    transform: scale(1.05);  
    box-shadow: 7px 13px 16px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 13px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 13px 16px -2px rgba(0,0,0,0.75);
}

.blog_card img {
  width: 100%;
  object-fit: cover;
}

.blog_body {     
  padding: 10px;
}

.blog_body div {
  width: 100%;
  text-align: center;
  background-color: #633659;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 15px;
}

.blog_body div:hover {
  cursor: pointer;
  background-color: #633659d2;
}

.blog_body h3 {
    font-size: 1.8rem;
    font-weight: bold; 
    text-align: center;
}

.blog_body p {
    font-size: 1.2rem;
    line-height: 1.1;
}